// Colors
$white: #ffffff;
$black-two: #2f2f2f;
$purple: #934499;
$purple-two: #854399;
$purple-three: #b14599;
$black-three: #10181f;
$black: #000000;
$light-pink: #e4c7e0;
$dark-purple: #3d2541;

//Fonts
$dosis: "Dosis", "Arial", "Helvetica", sans-serif;

// screen size
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1140px;
$screen-xl: 1980px;

$retina-dppx: 1.5dppx;
